{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-sm-3" {{ stimulus_controller('featured-product-react',{
                product: featuredProduct|serialize('json', { groups: 'product:read' })
            }) }}>
            </div>
            <div class="col-sm">
                <h1>Register</h1>
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms, {
                    label: 'I agree to these non-existent terms'
                }) }}
                <button class="btn btn-lg btn-primary" formnovalidate>Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
