{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}

    <div class="container-fluid mt-4">

        <h1>Create new Product</h1>

        {{ include('product_admin/_form.html.twig') }}

        <a href="{{ path('product_admin_index') }}">back to list</a>

    </div>

{% endblock %}
