{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}

    <div class="container-fluid mt-4">

        <h1>Product</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ product.brand }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ product.weight }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>StockQuantity</th>
                <td>{{ product.stockQuantity }}</td>
            </tr>
            <tr>
                <th>ImageFilename</th>
                <td>{{ product.imageFilename }}</td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('product_admin_index') }}">back to list</a>

        <a href="{{ path('product_admin_edit', {'id': product.id}) }}">edit</a>

        {{ include('product_admin/_delete_form.html.twig') }}

    </div>

{% endblock %}
